/* FONT IMPORT - Pacifico */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* CSS RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  height: 100vh;
  line-height: 1.5;

  color: white;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}
/* !CSS RESET */

main {
  width: 100%;
  height: auto;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  gap: 7rem;

  padding: 2rem 5rem;
  background: transparent;
}

.navbar__logo {
  margin-right: auto;
  font-size: 2rem;
}

.navbar__links {
  display: flex;
  gap: 5rem;

  li {
    font-size: 1.2rem;
    font-weight: 600;

    cursor: pointer;
  }

  li:hover {
    text-decoration: underline;
  }
}

.navbar__button {
  padding: 0.5rem 2rem;

  font-size: 1.2rem;
  font-weight: 700;
  color: white;

  border: 2px solid white;
  border-radius: 5px;

  background: transparent;
  cursor: pointer;

  transform: scale(1);
  transition: transform 0.2s;
}

.navbar__button:hover {
  background: rgba(255, 255, 255, 0.263);
  transform: scale(1.1);
}

/* !NAVBAR */

/* MAIN SECTION */

.main__content {
  position: relative;
  min-height: 100vh;
  max-width: 1800px;

  display: flex;
  flex-direction: column;

  padding: 1rem 5rem;
  margin: 0 auto;

  overflow: hidden;
}

.main__heading {
  font-size: 7rem;
  font-family: "Pacifico", cursive;
}

.main__flavor {
  font-size: 3.5rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

.main__flavor::first-letter {
  text-transform: capitalize;
}

.main__text {
  width: 45%;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-weight: 600;
}

.selector__container {
  display: flex;
  gap: 1rem;
}

.main__selector {
  position: relative;

  height: 168px;
  width: 115px;

  overflow: hidden;
  cursor: pointer;
}

.image-container {
  position: absolute;
  top: 30px;
  right: 15px;

  height: 100%;
  width: 80%;
  background: no-repeat;
  background-size: contain;
}

.bg {
  height: 45%;
  width: 80%;

  margin: 80% auto 0;

  background: rgba(255, 255, 255, 0.263);

  border: 2px solid white;
  border-radius: 10px;
}

.main__ice-cream {
  position: absolute;
  right: 10%;

  height: 938px;
  width: 493px;
}

.strawberry {
  background: no-repeat url("/images/icecream-strawberry.png");
  background-size: contain;
}

#strawberry {
  background: radial-gradient(#be1241, #f64776);
}

.blueberry {
  background: no-repeat url("/images/icecream-blueberry.png");
  background-size: contain;
}

#blueberry {
  background: radial-gradient(#236cda, #478df6);
}

.chocolate {
  background: no-repeat url("/images/icecream-chocolate.png");
  background-size: contain;
}

#chocolate {
  background: radial-gradient(#a56040, #cb907a);
}

.evergreen {
  background: no-repeat url("/images/icecream-evergreen.png");
  background-size: contain;
}

#evergreen {
  background: radial-gradient(#2a9949, #47f66e);
}

/* !MAIN SECTION */

/* MEDIA QUERIES */

@media (max-width: 1190px) {
  .navbar,
  .main__content {
    padding: 1rem 2.5rem;
    min-width: 923px;
  }

  .navbar {
    gap: 3rem;
  }

  .main__ice-cream {
    right: 0;
  }
}
